body{
    background-color: rgb(240, 199, 224);}
header{
    text-align: center;
    font-style: italic;
    color: rgb(66, 3, 40);
}
#div1{
    text-align: center;
    color: rgb(66, 3, 40);
}
#div2{
    font-style: italic;
}
.ImagesGB{
    display: inline-block;  
}

